
.bodyStyle {
	font-family: Arial, Helvetica, sans-serif;
}


.textAreaDiv {
	width: 50%;
}
.textArea {
	width: 100%;
}


.nameColumn {
	width: 20%;
}

.otherColumns {
	width: 10%;
}

.full{
	
	width: 100%;
}
.half{
	
	width: 50%;
}
